<div class="container">
  <div class="row">
    <div class="col">
      <h1>Listado De Personas</h1>
      <!-- Property Binding asocioando disabled con variable bool -->
      <button
        class="btn btn-primary"
        [disabled]="deshabilitar"
        (click)="agregarPersona()"
      >
        Agregar Persona
      </button>
      <p>{{ mensaje }}</p>
      <app-persona></app-persona>
      <!-- input que recibe los datos que ingresa el usuario -->
      <label for="">Titulo Persona</label>
      <input
        type="text"
        class="form-control"
        (input)="modificarTitulo($event)"
      />
      {{ titulo }}
    </div>
  </div>
</div>
